body{
    background-image: url(../img/placeholders-background.jpg);
    background-size: 87.3%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #202020;
    height: 97vh;
}

.bb1{
    width: 7.5%;
    height: 20.7%;
    left: 42.5%;
    top: 4%;
    position: fixed;
    transform: perspective(550px) rotateY(4deg) rotateX(21deg) rotateZ(5deg);
    transform-origin: left;
}

.bb2{
    width: 8.2%;
    height: 27.6%;
    left: 42.1%;
    top: 24.3%;
    position: fixed;
    transform: perspective(550px) rotateY(4deg) rotateX(17deg) rotateZ(4deg);
    transform-origin: left;
}

.bb3{
    width: 8%;
    height: 28%;
    left: 42%;
    top: 53%;
    position: fixed;
    transform: perspective(1000px) rotateY(-1deg) rotateX(15deg) rotateZ(1deg);
    transform-origin: left;
}

.bb4{
    width: 6.8%;
    height: 21.5%;
    right: 23.5%;
    top: 33.7%;
    position: fixed;
    transform: perspective(287px) rotateY(-9deg) rotateX(9deg) rotateZ(-13deg);
    transform-origin: right;
}