.title-detail{
    color: white;
    position: fixed;
    top: 60px;
    font-size: 50px;
    display: flex;
    padding: 20px 150px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.content-detail{
    color: white;
    position: fixed;
    bottom: 260px;
    width: 400px;
    margin-left: 150px;
    display: flex;
    font-size: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    word-break: break-word;
    white-space: break-spaces;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.detail{
    position: fixed;
    height: 290px;
    width: 500px;
    background: url('../img/video-background.jpg');
    background-size: cover;
    animation-duration: 1s;
    top: 20%;
    left: 35%;
}
  
#videoDetail{
    width: 100%;
    height: 100%;
    animation-duration: 1s;
    animation-fill-mode: both;
}
  
.close{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    top: 18%;
    right: 31.5%;
    background: rgba(32, 32, 32, 0.3);
    z-index: 1;
}
  
.close:hover{
    cursor: pointer;
}
